t, but we need to see it. Click the “cog” icon in the upper right corner of the file explorer to open the Cloud9 preferences tab. Under User Settings select Tree & Navigate and removed the .* from the hidden file patterns options. If unsure ask an instructor.

Open the .gitignore file and enter the following, to ignore all sqlite3 databases.

*.sqlite3
Now commit everything to git

git add .
git commit -m "database migration and .gitignore"
git push origin master
8. Project Code
We have just created the ideas table by running the migration, so let’s now create the corresponding model. Navigate to the app/models folder and create the idea.rb file (right click in cloud9 file explorer window or use the terminal window). We will use the terminal window.

touch app/models/idea.rb
Double click to open the file and enter the following code:

class Idea < ActiveRecord::Base

end
This is just an empty file at this stage, we will add code to it later on.

9. Routes
Finally it is time to create routes. Routes are simply the rules that tell your application which code to run for a given URL. From the controllers folder, create a file called ideas_controller.rb (you can use the terminal window or cloud9 file explorer)

%w(/ /ideas).each do |path|
  get path do
    @ideas = Idea.all
    erb :'ideas/index'
  end
end
This route will map the URL ideas/index to a listing of all ideas. We have just told Sinatra to look in the ideas folder for an html file called index.erb (it has a .erb suffix rather than .html because it contains embedded Ruby as well as html).

Now that we have created our route we now need to create a corresponding index page to display it. Create a folder for ideas in the app/views/ directory (from terminal window mkdir app/views/ideas or use the cloud9 file explorer window). Then create a file called index.erb.

10. Views
Type or paste the following into the index.erb file you just created

<h1>Listing Ideas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.name %></td>
      <td><%= idea.description %></td>
      <td><%= idea.picture.present? %></td>
      <td><a href="/ideas/<%= idea.id %>/edit">Edit</a></td>
      <td><a href="/ideas/<%= idea.id %>">Show</a></td>
      <td><% if idea.picture %><a href="/files/<%= idea.picture %>">View Picture</a><% end %></td>
      <td><% if idea.picture %><a href="/files/<%= idea.picture %>/download">Download Picture</a><% end %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>